<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Перейти на: </h1>
    <a class="btn btn-success" th:href="@{/products/all}">Товары</a>
    <br>
    <br>
    <a class="btn btn-success" th:href="@{/clients/all}">Пользователи</a>
</div>
</body>
</html>