<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница пользователя</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(allClients)}"/>

    <h1>Данные пользователя</h1>
    <table class="table table-hover">
        <tbody th:object="${frontClient}">
        <tr>
            <td>Id</td>
            <td th:text="*{id}"></td>
        </tr>
        <tr>
            <td>Имя</td>
            <td th:text="*{name}"></td>
        </tr>
        <tr>
            <td>Возраст</td>
            <td th:text="*{age}"></td>
        </tr>
    </table>
    <a th:href="@{/clients/all}" class="btn btn-primary">Вернуться к списку пользователей</a>
</div>
</body>
</html>