<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница товара</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(allProducts)}"/>

    <h1>Характеристики товара</h1>
    <table class="table table-hover">
        <tbody th:object="${frontProduct}">
        <tr>
            <td>Id</td>
            <td th:text="*{id}"></td>
        </tr>
        <tr>
            <td>Название</td>
            <td th:text="*{title}"></td>
        </tr>
        <tr>
            <td>Цена</td>
            <td th:text="*{price}"></td>
        </tr>
    </table>
    <a th:href="@{/products/all}" class="btn btn-primary">Вернуться к списку товаров</a>
</div>
</body>
</html>